<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}

     <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
               <div class="row">
                   <!--left side-->
                   <div class="col-md-12 col-12 main-header-left align-items-center">
                   
                      <img src="images/error.jpg" class="img-fluid" alt="" title="sourav">
                
                      <p>Welcome to Sourav page</p>
                      <h2>{{errmsg}}</h2>
                      <a href="/"><button>Go Back</button></a>
                   </div>
                   <!--right side-->
                  
               </div>
            </div>
        </div>
    </div>
    {{>jslink}}
</body>
</html>