<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
   {{>navbar}}
    
    <!--header-->
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
               <div class="row">
                   <!--left side-->
                   <div class="col-md-6 col-12 main-header-right">
                    <figure>
                      <img src="images/sourav.jpg" class="img-fluid" alt="" title="sourav">
                    </figure>
                  </div>
                   <div class="col-md-6 col-12 main-header-left">
                      <p>Welcome to weather app</p>
                      <h2>I am a <span>Full Stack Developer</span> and Freelancer</h2>
                      <a href="www.facebook.com"><button>About me</button></a>
                   </div>
                   <!--right side-->
                  
               </div>
            </div>
        </div>
    </div>
   <!--footer-->
   {{>footer}}

       <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {{>jslink}}
</body>
</html>